<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

		<link rel="preconnect" href="https://fonts.gstatic.com">
		<link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@100;300;400;700;900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap" rel="stylesheet">
		<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css" integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" integrity="sha512-iBBXm8fW90+nuLcSKlbmrPcLa0OT92xO1BIsZ+ywDWZCvqsWgccV3gFoRBv0z+8dLJgyAHIhR35VZc2oM/gI1w==" crossorigin="anonymous" />
		<link rel="stylesheet" href="/assets/libs/sharegg/css/sharegg.css">
		<link rel="stylesheet" href="/assets/css/app.css">

    <title>Web Hosting Indonesia Unlimited & Terbaik</title>
  </head>
  <body>
		<div class="navbar-sub d-none d-md-block">
			<div class="container d-flex justify-content-between align-items-center">
				<div class="d-flex">
					<div class="ribbon-mark">
						<div><i class="fas fa-tag"></i></div>
					</div>
					<a href="#" class="mt-1">
						<span>Gratis Ebook 9 Cara Cerdas Menggunakan Domain</span>
					</a>
				</div>
				<ul>
					<li><a href="#"><i class="fas fa-phone"></i> 0274-5305505</a></li>
					<li><a href="#"><i class="fas fa-comments"></i> Live Chat</a></li>
					<li><a href="#"><i class="fas fa-user-circle"></i> Member Area</a></li>
				</ul>
			</div>
		</div>
    <nav class="navbar navbar-expand-lg navbar-light bg-white sticky-top">
    	<div class="container">
        <a class="navbar-brand" href="#">
					<img src="/assets/images/logo.png" alt="Logo Niagahoster" height="44">
				</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        	<span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavDropdown">
        	<ul class="ml-auto navbar-nav">
						<li class="nav-item">
							<a class="nav-link" href="#">Hosting</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" href="#">Domain</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" href="#">Server</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" href="#">Website</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" href="#">Afiliasi</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" href="#">Promo</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" href="#">Pembayaran</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" href="#">Review</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" href="#">Kontak</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" href="#">Blog</a>
						</li>
        	</ul>
        </div>
    	</div>
    </nav>

		<section id="hero">
			<div class="container">
				<div class="row">
					<div class="col-md-6 order-5 order-md-1">
						<h1 class="font-weight-bold">PHP Hosting</h1>
						<h3 class="mb-3">Cepat, handal, penuh dengan modul PHP yang Anda butuhkan</h3>
						<ul class="check-list">
							<li><i class="fas fa-check-circle"></i> Solusi PHP untuk performa query yang lebih cepat</li>
							<li><i class="fas fa-check-circle"></i> Konsumsi memori yang lebih rendah</li>
							<li><i class="fas fa-check-circle"></i> Support PHP 5.3, PHP 5.4, PHP 5.5, PHP 5.6, PHP 7</li>
							<li><i class="fas fa-check-circle"></i> Fitur enkripsi IonCube dan Zend Guard Loaders</li>
						</ul>
					</div>
					<div class="col-md-6 order-1 order-md-5 text-center">
						<img src="/assets/images/svg/banner-php-hosting.svg" alt="Banner PHP Hosting" class="w-75 mb-5 mb-md-0">
					</div>
				</div>
			</div>
		</section>

		<section class="pt-5">
			<div class="container">
				<div class="row d-flex justify-content-center">
					<div class="col-md-3 text-center">
						<div style="height:190px;line-height: 190px;">
							<img src="/assets/images/icon/zenguard.png" alt="Icon Zendguard">
						</div>
						<h6 class="text-secondary">PHP Zend Guard Loader</h6>
					</div>
					<div class="col-md-3 text-center">
						<div style="height:190px;line-height: 190px;">
							<img src="/assets/images/icon/composer.png" alt="Icon Composer">
						</div>
						<h6 class="text-secondary">PHP Composer</h6>
					</div>
					<div class="col-md-3 text-center">
						<div style="height:190px;line-height: 190px;">
							<img src="/assets/images/icon/ioncube.png" alt="Icon IonCube">
						</div>
						<h6 class="text-secondary">PHP IonCube Loader</h6>
					</div>
				</div>
			</div>
		</section>

		<section id="pricing" class="py-5 my-5">
			<div class="container">
				<div class="row no-gutters p-3 p-md-0">
					<div class="col-md-12 text-center mb-5">
						<h3 class="font-weight-bold mb-2">Paket Hosting Singapura yang Tepat</h3>
						<h4 class="text-secondary">Diskon 40% + Domain dan SSL Gratis untuk Anda</h4>
					</div>
					{% for price in prices %}
						<div class="col-md-3 mb-3">
							<div class="price-box {{ price['best'] ? 'best' : '' }}">
								{% if price['best'] %}
									<div class="ribbon ribbon-top-left"><span>BEST SELLER!</span></div>
								{% endif %}
								<div class="pb-header">
									<h5 class="font-weight-bold mb-0">{{ price["package"] }}</h5>
								</div>
								<div class="pb-price pt-3">
									<h6><del>Rp{{ price['price_del']|number_format(0, ',', '.') }}</del></h6>
									<h6>Rp <span>{{ (price['price']/1000)|round(0, 'floor') }}</span> <b>.{{ (price['price'])[2:] }}</b>/bln</h6>
								</div>
								<div class="pb-users">
									<p class="mb-0"><strong>{{ price['users']|number_format(0, ',', '.') }}</strong> Pengguna Terdaftar</p>
								</div>
								<div class="pb-body">
									<ul class="mt-3 mb-4">
										<li><strong>{{ price['rpower'] }}X RESOURCE POWER</strong></li>
										<li><strong>{{ price['space'] }}</strong> Disk Space</li>
										<li><strong>{{ price['bandwidth'] }}</strong> Bandwidth</li>
										{% if price['pop3'] %}
											<li><strong>Unlimited</strong> POP3 Email</li>
										{% endif %}
										<li><strong>{{ price['databases'] }}</strong> Databases</li>
										{% if price['domain'] == 1 %}
											<li><strong>{{ price['domain'] }}</strong> Domain</li>
										{% else %}
											<li><strong>{{ price['domain'] }}</strong> Addon Domain</li>
										{% endif %}
										{% if price['magic_backup'] %}
											<li><strong>Magic Auto</strong> Backup & Restore</li>
										{% endif %}
										{% if price['instant_backup'] %}
											<li><strong>Instant</strong> Backup</li>
										{% endif %}
										{% if price['free_domain'] %}
											<li><strong>Domain Gratis</strong> Selamanya</li>
										{% endif %}
										{% if price['free_ssl'] %}
											<li><strong>Unlimited SSL</strong> Gratis Selamanya</li>
										{% endif %}
										{% if price['private_ns'] %}
											<li><strong>Private</strong> Name Server</li>
										{% endif %}
										{% if price['priority'] %}
											<li><strong>Prioritas</strong> Layanan Support</li>
										{% endif %}
										{% if price['spam_assasin'] %}
											<li><strong>SpamAssasin</strong> Mail Protection</li>
										{% endif %}
										{% if price['stars'] >= 5 %}
											<div class="my-2">
												<i class="fas fa-star"></i>
												<i class="fas fa-star"></i>
												<i class="fas fa-star"></i>
												<i class="fas fa-star"></i>
												<i class="fas fa-star"></i>
											</div>
										{% endif %}
										{% if price['spam_expert'] %}
											<li><strong>SpamExpert</strong> Pro Mail Protection</li>
										{% endif %}
									</ul>

									<a href="#" class="btn btn-rounded px-4 mb-3 {{ price['best'] ? 'btn-primary' : 'btn-outline-dark' }}">
										{% if price['discount'] > 0 %}
											Diskon {{ price['discount'] }}%
										{% else %}
											Pilih Sekarang
										{% endif %}
									</a>
								</div>
							</div>
						</div>
    			{% endfor %}
				</div>
			</div>
		</section>

		<section class="py-5">
			<div class="container">
				<h3 class="text-center mb-4">Powerful dengan Limit PHP yang Lebih Besar</h3>
				<div class="row justify-content-center">
					<div class="col-md-5">
						<table class="table table-hover" style="border: 1px solid #F5F5F5;">
							<tbody>
								<tr>
									<td><i class="fas fa-check-circle"></i></td>
									<td class="text-center text-secondary">max execution time 300s</td>
								</tr>
								<tr class="bg-light">
									<td><i class="fas fa-check-circle"></i></td>
									<td class="text-center text-secondary">max execution time 300s</td>
								</tr>
								<tr>
									<td><i class="fas fa-check-circle"></i></td>
									<td class="text-center text-secondary">php memory limi 1024 MB</td>
								</tr>
							</tbody>
						</table>
					</div>
					<div class="col-md-5">
						<table class="table table-hover" style="border: 1px solid #F5F5F5;">
							<tbody>
								<tr>
									<td><i class="fas fa-check-circle"></i></td>
									<td class="text-center text-secondary">post max size 128 MB</td>
								</tr>
								<tr class="bg-light">
									<td><i class="fas fa-check-circle"></i></td>
									<td class="text-center text-secondary">upload max filesize 128 MB</td>
								</tr>
								<tr>
									<td><i class="fas fa-check-circle"></i></td>
									<td class="text-center text-secondary">max input vars 2500</td>
								</tr>
							</tbody>
						</table>
					</div>
				</div>
			</div>
		</section>

		<div class="divider-sm"></div>

		<section id="features" class="py-5">
			<div class="container">
				<h3 class="text-center mb-4">Semua Paket Hosting Sudah Termasuk</h3>
				<div class="row">
					<div class="col-md-4">
						<div class="text-center p-3">
							<img src="/assets/images/svg/icon-php-semua-versi.svg" alt="Icon PHP Semua Versi" class="w-25">
							<h6 class="font-weight-bold">PHP Semua Versi</h6>
							<p>Pilih mulai dari versi PHP 5.3 s/d PHP 7. Ubah sesuka Anda!</p>
						</div>
					</div>
					<div class="col-md-4">
						<div class="text-center p-3">
							<img src="/assets/images/svg/icon-mysql.svg" alt="Icon MySQL">
							<h6 class="font-weight-bold">MySQL Versi 5.6</h6>
							<p>Nikmati MySQL versi terbaru, tercepat dan kaya akan fitur.</p>
						</div>
					</div>
					<div class="col-md-4">
						<div class="text-center p-3">
							<img src="/assets/images/svg/icon-cpanel.svg" alt="Icon cPanel">
							<h6 class="font-weight-bold">Panel Hosting cPanel</h6>
							<p>Kelola website dengan panel canggih yang familiar di hati Anda.</p>
						</div>
					</div>
					<div class="col-md-4">
						<div class="text-center p-3">
							<img src="/assets/images/svg/icon-garansi-uptime.svg" alt="Icon Garansi Uptime">
							<h6 class="font-weight-bold">Garansi Uptime 99,9%</h6>
							<p>Data center yang mendukung kelangsungan website Anda 24/7</p>
						</div>
					</div>
					<div class="col-md-4">
						<div class="text-center p-3">
							<img src="/assets/images/svg/icon-innodb.svg" alt="Icon InnoDB Unlimited">
							<h6 class="font-weight-bold">Database InnoDB Unlimited</h6>
							<p>Jumlah dan ukuran database yang tumbuh sesuai kebutuhan Anda.</p>
						</div>
					</div>
					<div class="col-md-4">
						<div class="text-center p-3">
							<img src="/assets/images/svg/icon-mysql-remote.svg" alt="Icon Remote MySQL">
							<h6 class="font-weight-bold">Wildcard Remote MySQL</h6>
							<p>Mendukung s/d 25 max_user_connections dan 100 max_connections.</p>
						</div>
					</div>
				</div>
			</div>
		</section>

		<div class="divider-sm"></div>

		<section class="py-5 my-5" style="border-bottom: 1px solid #F2F2F2;">
			<div class="container">
				<h3 class="text-center mb-4">Mendukung Penuh Framework Laravel</h3>
				<div class="row align-items-center">
					<div class="col-md-6 mb-5 mb-md-0">
						<h6 class="text-secondary mb-3" style="line-height: 1.8rem;">Tak perlu menggunakan dedicated server ataupun VPS yang mahal. Layanan PHP hosting murah kami mendukung penuh framework favorit Anda.</h6>
						<ul class="check-list">
							<li style="font-family: 'Roboto', sans-serif;"><i class="fas fa-check-circle"></i> Install Laravel <strong>1 klik</strong> dengan Softcaulous Installer.</li>
							<li style="font-family: 'Roboto', sans-serif;"><i class="fas fa-check-circle"></i> Mendukung ekstensi <strong>PHP MCrypt, phar, mbstring, json</strong>, dan <strong>fileinfo.</strong></li>
							<li style="font-family: 'Roboto', sans-serif;"><i class="fas fa-check-circle"></i> Tersedia <strong>Composer</strong> dan <strong>SSH</strong> untuk menginstall packages pilihan Anda.</li>
						</ul>
						<small class="d-block mb-4">Nb: Composer dan SSH hanya tersedia pada paket Personal dan Bisnis</small>
						<a href="#" class="btn btn-primary btn-rounded px-4 py-2 font-weight-bold">Pilih Hosting Anda</a>
					</div>
					<div class="col-md-6 text-center">
						<img src="/assets/images/svg/banner-laravel.svg" alt="Laravel" class="w-75">
					</div>
				</div>
			</div>
		</section>

		<section class="py-5 my-5" style="border-bottom: 1px solid #F2F2F2;">
			<div class="container">
				<h3 class="text-center mb-5">Modul Lengkap untuk Menjalankan Aplikasi PHP Anda.</h3>
				<div class="row">
					<div class="col-md-3 col-6">
						<p>
							IcePHP<br>
							apc<br>
							apcu<br>
							apm<br>
							ares<br>
							bcmath<br>
							bcompiler<br>
							big_int<br>
							bitset<br>
							bloomy<br>
							bz2_filter<br>
							clamav<br>
							coin_acceptor<br>
							crack<br>
							dba
						</p>
					</div>
					<div class="col-md-3 col-6">
						<p>
							http<br>
							huffman<br>
							idn<br>
							igbinary<br>
							imagick<br>
							imap<br>
							inclued<br>
							inotify<br>
							interfabase<br>
							intl<br>
							ioncube_loader<br>
							ioncube_loader_4<br>
							jsmin<br>
							json<br>
							ldap
						</p>
					</div>
					<div class="col-md-3 col-6">
						<p>
							nd_pdo_mysql<br>
							oauth<br>
							aci8<br>
							odbc<br>
							opcache<br>
							pdf<br>
							pdo<br>
							pdo_dblib<br>
							pdo_firebird<br>
							pdo_mysql<br>
							pdo_odbc<br>
							pdo_pgsql<br>
							pdo_sqlite<br>
							pgsql<br>
							phalcon
						</p>
					</div>
					<div class="col-md-3 col-6">
						<p>
							stats<br>
							stem<br>
							stomp<br>
							suhosin<br>
							sybase_ct<br>
							sysvmsg<br>
							sysvsem<br>
							sysvshm<br>
							tidy<br>
							timezonedb<br>
							trader<br>
							translit<br>
							uploadprogress<br>
							uri_template<br>
							uuid
						</p>
					</div>
				</div>

				<div class="text-center mt-5">
					<a href="#" class="btn btn-outline-dark btn-rounded px-4 py-2">Selengkapnya</a>
				</div>
			</div>
		</section>

		<section class="py-5" id="cta-footer">
			<div class="container">
				<div class="row">
					<div class="col-md-6">
						<h2 class="font-weight-light mb-4">Linux Hosting yang Stabil dengan Teknologi LVE</h2>
						<p class="mb-5">SuperMicro <strong>Intel Xeon 24-Cores</strong> server dengan RAM <strong>128 GB</strong> dan teknologi <strong>LVE CloudLinux</strong> untuk stabilitas server Anda. Dilengkapi dengan <strong>SSD</strong> untuk kecepatan <strong>MySQL</strong> dan caching. Apache load balancer berbasis LiteSpeed Technologies, <strong>CageFS</strong> security, <strong>Raid-10</strong> protection dan auto backup untuk keamanan website PHP Anda.</p>
						<a href="#" class="btn btn-primary btn-rounded px-4 py-2 font-weight-bold">Pilih Hosting Anda</a>
					</div>
				</div>
			</div>
		</section>

		<div class="bg-light py-3">
			<div class="container">
				<div class="row">
					<div class="col-md-6">
						<h6 class="mb-0">Bagikan jika Anda menyukai halaman ini.</h6>
					</div>
					<div class="col-md-6">
						<div id="sharegg"
							data-url="https://niagahoster.co.id"
							data-title="Niagahoster"
							data-description="Web Hosting Indonesia Unlimited & Terbaik"
							data-image="">
						</div>
					</div>
				</div>
			</div>
		</div>

		<section id="call" class="py-5">
			<div class="container">
				<div class="row align-items-center">
					<div class="col-auto">
						<h3 class="mb-0 text-white">Perlu <strong>BANTUAN?</strong> Hubungi Kami: <strong>0274-5305505</strong></h3>
					</div>
					<div class="col-auto ml-md-auto mt-md-0 mt-3">
						<a href="#" class="btn btn-outline-light btn-rounded px-4 py-2"><i class="fas fa-comments"></i> Live Chat</a>
					</div>
				</div>
			</div>
		</section>

		<footer>
			<div class="container">
				<div class="row">
					<div class="col-md-3 col-6 mb-5">
						<h6>HUBUNGI KAMI</h6>
						<p>0274-5305505<br>Senin - Minggu<br>24 Jam Nonstop</p>
						<p>Jl. Selokan Mataram Monjadi<br>Karangjati MT I/304<br>Sinduadi, Mlati, Sleman<br>Yogyakarta 55284</p>
					</div>
					<div class="col-md-3 col-6 mb-5">
						<h6>LAYANAN</h6>
						<ul>
							<li><a href="#">Domain</a></li>
							<li><a href="#">Shared Hosting</a></li>
							<li><a href="#">Cloud VPS Hosting</a></li>
							<li><a href="#">Managed VPS Hosting</a></li>
							<li><a href="#">Web Builder</a></li>
							<li><a href="#">Keamanan SSL/HTTPS</a></li>
							<li><a href="#">Jasa Pembuatan Website</a></li>
							<li><a href="#">Program Afiliasi</a></li>
						</ul>
					</div>
					<div class="col-md-3 col-6 mb-5">
						<h6>SERVICE HOSTING</h6>
						<ul>
							<li><a href="#">Hosting Murah</a></li>
							<li><a href="#">Hosting Indonesia</a></li>
							<li><a href="#">Hosting Singapura SG</a></li>
							<li><a href="#">Hosting PHP</a></li>
							<li><a href="#">Hosting Wordpress</a></li>
							<li><a href="#">Hosting Laravel</a></li>
						</ul>
					</div>
					<div class="col-md-3 col-6 mb-5">
						<h6>TUTORIAL</h6>
						<ul>
							<li><a href="#">Knowledgebase</a></li>
							<li><a href="#">Blog</a></li>
							<li><a href="#">Cara Pembayaran</a></li>
						</ul>
					</div>
				</div>
				<div class="row">
					<div class="col-md-3 col-6 mb-5">
						<h6>TENTANG KAMI</h6>
						<ul>
							<li><a href="#">Tim Niagahoster</a></li>
							<li><a href="#">Karir</a></li>
							<li><a href="#">Events</a></li>
							<li><a href="#">Penawaran & Promo Spesial</a></li>
							<li><a href="#">Kontak Kami</a></li>
						</ul>
					</div>
					<div class="col-md-3 col-6 mb-5">
						<h6>KENAPA PILIH NIAGAHOSTER?</h6>
						<ul>
							<li><a href="#">Support Terbaik</a></li>
							<li><a href="#">Garansi Harga Termurah</a></li>
							<li><a href="#">Domain Gratis Selamanya</a></li>
							<li><a href="#">Datacenter Hosting Terbaik</a></li>
							<li><a href="#">Review Pelanggan</a></li>
						</ul>
					</div>
					<div class="col-md-3 mb-md-5 mb-2">
						<h6>NEWSLETTER</h6>
						<div class="subscribe mb-3">
							<input type="text" class="subscribe-input" placeholder="Email">
							<button class="subscribe-botton" type="submit">Berlangganan</button>  
						</div>
						<p style="opacity: .5;">Dapatkan promo dan konten menarik dari penyedia hosting terbaik Anda.</p>
					</div>
					<div class="col-md-3 mb-5">
						<h6 class="invisible d-none d-md-block">SOCIAL</h6>
						<a href="#" class="btn-circle-social"><i class="fab fa-facebook"></i></a>
						<a href="#" class="btn-circle-social"><i class="fab fa-twitter"></i></a>
						<a href="#" class="btn-circle-social"><i class="fab fa-google"></i></a>
					</div>
				</div>
				<div class="row">
					<div class="col-md-12">
						<h6>PEMBAYARAN</h6>
						<div class="">
							<div class="payment">
								<img src="/assets/images/payment/bca.svg" alt="BCA">
							</div>
							<div class="payment">
								<img src="/assets/images/payment/mandiri.svg" alt="BCA">
							</div>
							<div class="payment">
								<img src="/assets/images/payment/bni.svg" alt="BCA">
							</div>
							<div class="payment">
								<img src="/assets/images/payment/visa.svg" alt="BCA">
							</div>
							<div class="payment">
								<img src="/assets/images/payment/master.svg" alt="BCA">
							</div>
							<div class="payment">
								<img src="/assets/images/payment/atm-bersama.svg" alt="BCA">
							</div>
							<div class="payment">
								<img src="/assets/images/payment/alto.svg" alt="BCA">
							</div>
						</div>
						<p class="mt-3" style="opacity: .5;">Aktivasi instan dengan e-Payment Hosting dan domain langsung aktif</p>
					</div>
				</div>
				<hr>
				<div class="row copy">
					<div class="col-md-8">
						<p class="mb-0">Copyright &copy;2016 Niagahoster | Hosting powered by PHP7, CloudLinux, CloudFlare, BitNinja and DC Biznet Technovillage Jakarta</p>
						<p>Cloud VPS Murah powered by Webuzo Softcaulous, Intel SSD and cloud computing technology</p>
					</div>
					<div class="col-md-4">
						<a href="#">Syarat dan Ketentuan</a> | <a href="#">Kebijakan Privasi</a>
					</div>
				</div>
			</div>
		</footer>

		<script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
		<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.6.0/dist/umd/popper.min.js" integrity="sha384-KsvD1yqQ1/1+IA7gi3P0tyJcT3vR+NdBTt13hSJ2lnve8agRGXTTyNaBYmCR/Nwi" crossorigin="anonymous"></script>
		<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.min.js" integrity="sha384-nsg8ua9HAw1y0W1btsyWgBklPnCUAFLuTMS2G72MMONqmOymq585AcH49TLBQObG" crossorigin="anonymous"></script>
		<script src="/assets/libs/sharegg/js/jquery.sharegg.js"></script>
		<script>
			jQuery(document).ready(function ($){
				$('#sharegg').sharegg({
					apiUrl: 'http://api.sharegg.org/',
					buttons: {
						facebook: {
							show: true,
							count: true,
						},
						twitter: {
							show: true,
							count: true,
						},
						googleplus: {
							show: true,
							count: true,
						},
					}
				});
			});
		</script>
  </body>
</html>